html {
    font-size: 3vw;
    scroll-snap-type: y mandatory;
}

body {
    scroll-snap-type: y mandatory;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: clip;
    box-sizing: border-box;
    padding-left: 3vw;
    padding-right: 3vw;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
